@page "/usehaggingchat"
@using System.Text;
@using IntegrationBuilder.HuggingChatUtilities;
@inject IConfiguration configuration

<RadzenProgressBar Value="@this._loadignBarValue" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
<RadzenCard>
    <RadzenText TextStyle="TextStyle.DisplayH6" TagName="TagName.H6" class="mb-0">Use Hugging Chat</RadzenText>
    <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="build" class="mt-2 mb-4" Text="Ask Hugging Chat"
                  Click="@BtnAskHuggingChat" />
    <div class="rz-p-4 rz-text-align-center">
        <RadzenCheckBox @bind-Value=@this._isNewChat Name="isNewChat"/>
        <RadzenLabel Style="color:white;" Text="New Chat" Component="isNewChat" />
    </div>

    <RadzenColumn Size="12" SizeMD="12">
        <RadzenRow Gap="6rem" JustifyContent="JustifyContent.Center">

            <RadzenCard Style="width=40%">
                <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">User Question</RadzenText>
                <RadzenTextArea Cols="80" Rows="17" @bind-Value=@_userQuestion />
            </RadzenCard>

            <RadzenCard Style="width=40%">
                <RadzenText TextStyle="TextStyle.Caption" TagName="TagName.H3">Hugging Chat Response</RadzenText>
                <RadzenTextArea Cols="80" Rows="17" @bind-Value=@_huggingResponse />
            </RadzenCard>
        </RadzenRow>
    </RadzenColumn>
    <RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
        <RadzenColumn Size="12" SizeMD="6">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Info Log</RadzenText>
                <RadzenTextArea Rows="4" Disabled="true" @bind-Value=@_infomsgs class="w-100" />
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>


